<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="PostgreSQL" connectionString="Host=localhost;Port=5460;Database=db_smartax_dav_dev2;User ID=postgres;Password=postgres;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connection Lifetime=0;Connection Timeout=50;Initial Schema=public"/>
  </connectionStrings>
  <appSettings>
    <!--VALORES PARA DEFINIR LA BASE DE DATOS A UTILIZAR-->
    <add key="BASE_DATOS_UTILIZAR" value="PostgreSQL"/>
    <add key="AMBIENTE_TASK" value="DESARROLLO"/>

    <!--DIRECTORIO PARA GENERAR LOS ARCHIVOS EN PDF DE LAS LIQUIDACIONES-->
    <add key="REPOSITORIO_LIQUIDACION" value="REPOSITORIO_FILE"/>
    <add key="MAXIMA_CONCURRENCIA" value="3"/>
    <add key="CANTIDAD_REG_PROCESAR" value="500"/>
    <add key="CANTIDAD_LOTE" value="100"/>
    <add key="RENGLONES_CONF_ICA" value="9,11,12,13,14,15"/>
    <add key="RENGLONES_CONF_AUTOICA" value="9,11,12,13,14,15"/>
    <add key="VALOR_RESTAR_RENGLON8" value="-0"/>
    <add key="DIAS_INACTIVIDAD_USUARIO" value="30"/>

    <!--DEFINIMOS LOS TIPOS DE PROCESOS PARA DESARROLLO-->
    <!--1. BASE GRAVABLE x MUNICIPIO, 2. BASE GRAVABLE x OFICINA, -->
    <!--3. LIQUIDACION x OFICINA PARA PROV. DE ICA-->
    <!--5. PROCESAR ARCHIVOS DAVIBOX-->
    <add key="IDTIPO_PROCESO" value="5"/>
    <add key="IDFORMULARIO_IMPUESTO" value="1"/>
    <add key="ANIO_GRAVABLE" value="2023"/>
    <add key="MES_EF" value="01"/>
    
    <!--VALORES PARA DEFINIR SERVIDOR DE CORREO Y CORREO DE DONDE SE ENVIA LA INFO.-->
    <add key="SERVER_CORREO_GMAIL" value="smtp.gmail.com"/>
    <add key="PUERTO_CORREO_GMAIL" value="587"/>
    <add key="USER_ENVIO_EMAIL" value="digitalizacion@puntodepago.com.co"/>
    <add key="PASS_ENVIO_EMAIL" value="pdp201748"/>

    <!--VALORES PARA DEFINIR EMAILs NOTIFICACION-->
    <add key="ENVIO_EMAIL" value="SIXTOCF24@GMAIL.COM"/>
    <add key="ENVIO_EMAIL_COPIA" value="SIXTOCF24@GMAIL.COM;gerardo.sandoval@cumplimos.co;gustavo.espana@cumplimos.co"/>
    <add key="EMAIL_DESTINATION_ERROR" value="SIXTOCF24@GMAIL.COM"/>
    <add key="EMAIL_COPIA_PROCESOS" value="gerardo.sandoval@cumplimos.co"/>

    <!--VALORES PARA DEFINIR LA RUTA DE LOS ARCHIVOS DEL DAVIBOX-->
    <add key="PATH_FILE_DAVIBOX" value="D:\\ARCHIVOS DE PRUEBAS\\File_Davibox"/>

    <!--VALORES PARA CONFIGURAR SEPARADOR DE MILES Y DECIMALES-->
    <add key="SEPARADOR_MILES_AP" value=","/>
    <add key="SEPARADOR_MILES_FILE" value="."/>
    <add key="SEPARADOR_DECIMALES_AP" value="."/>
    <add key="SEPARADOR_DECIMALES_FILE" value=","/>
  </appSettings>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs\\LogsTaskSmartax"/>
      <param name="AppendToFile" value="true"/>
      <datePattern value="yyyyMMdd"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <root>
      <priority value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <logger name="File">
      <level value="All"/>
      <appender-ref ref="LogFileAppender"/>
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
