body {
    width:100%;
    font-size:7px;
}

td {
    padding: 3px;
}

.left {
    float: left;
    
}

#watermark {
    position: fixed;
    z-index: 99999;
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

    #watermark p {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.15;
        color: #808080;
        font-size: 200px;
        pointer-events: none;
    }
