<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>    
    <add name="PostgreSQL" connectionString="Host=localhost;Port=5460;Database=db_smartax_dav_dev2;User ID=postgres;Password=postgres;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connection Lifetime=0;Connection Timeout=50;Initial Schema=public" />
    <add name="SQLServer" connectionString="Data Source=PC2-SSI\SQL_DESARROLLO;Initial Catalog=db_taxis_libres_dev;Persist Security Info=True;User ID=sa;Password=Desarrollo2016*-" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="BindGridInvisibleColumns" value="true" />
    <!--VALORES PARA DEFINIR LA BASE DE DATOS A UTILIZAR-->
    <add key="BaseDatosUtilizar" value="PostgreSQL" />
    
    <!--AQUI DEFINIMOS EL AMBIENTE DEL SISTEMA-->
    <!--<add key="AmbienteSistema" value="PRODUCCION"/>-->
    <add key="AmbienteSistema" value="DESARROLLO" />
    
    <!--VALORES PARA DEFINIR LA RUTA VIRTUAL DONDE SE ALMACENAN LOS DOCUMENTOS-->
    <add key="DirectorioVirtual" value="REPOSITORIO_WEB" />
    <add key="DirectorioArchivos" value="LIQUIDACION_IMPUESTOS" />
    <add key="DirectorioArchivosApi" value="D:\\PROYECTOS\\NET\\Cumplimos\\PrySmartax\\Smartax.WebApi.Services\\REPOSITORIO_PGF\\" />
    
    <!--VALORES PARA DEFINIR LAS LLAVES DEL RECAPTCHA-->
    <add key="GoogleRecaptchaSiteKey" value="6Lf_UbcUAAAAAP4g3cgTg0mEBk8M4u-WKCtKOKyB" />
    <add key="GoogleRecaptchaSecretKey" value="6Lf_UbcUAAAAACtj3gOORowU-_xX84yLP2V61c5f" />
    <add key="GoogleRecaptchaApiUrl" value="https://www.google.com/recaptcha/api/siteverify?secret={0}&amp;response={1}" />
    <add key="GoogleRecaptchaResponse" value="g-recaptcha-response" />
    <add key="GoogleRecaptchaSuccess" value="success" />
    <add key="ValidRecaptcha" value="N" />
    
    <!--VALORES PARA DEFINIR SERVIDOR DE CORREO Y CORREO DE DONDE SE ENVIA LA INFO.-->
    <add key="SERVER_CORREO_GMAIL" value="smtp.gmail.com"/>
    <add key="PUERTO_CORREO_GMAIL" value="587"/>
    <add key="UsuarioEmail" value="digitalizacion@puntodepago.com.co"/>
    <add key="PasswordEmail" value="pdp201748"/>

    <!--VALORES PARA DEFINIR INFO DE ENVIO DE EMAILS-->
    <add key="EMAILS_PARA" value="sixtocf@hotmail.com"/>
    <add key="EMAILS_COPIA" value="sixtocf24@gmail.com"/>

    <!--VALORES PARA DEFINIR PARAMETROS DEL SISTEMA-->
    <add key="NameEmpresa" value="Cumplimos Group S.A.S."/>
    <add key="NameSystem" value="Smartax" />
    <add key="VesrionSystem" value="v1.0" />
    <add key="UrlPagina" value="www.cumplimos.com.co" />
    <add key="ActiveDirectory" value="NO" />
    <add key="PROTOCOLO_HTTPS" value="false" />
    <add key="DIAS_EXP_CLAVE" value="30" />
    <add key="INTENTOS_CLAVE_INVALIDA" value="3" />
    <add key="ID_FORMULARIO_IMPUESTO" value="1" />
    <add key="VALOR_RESTAR_RENGLON8" value="0" />
    
    <!--AQUI DEFINIMOS LOS ID DE NUMEROS DE RENGLONES DEL FORM IMPUESTO AUTORETENCION DE ICA (31, 32, 33, 34, 35, 36)-->
    <add key="IDRENGLONES_CONFIGURACION" value="52, 53, 54, 55, 56, 57, 58" />
    <add key="IDROL_CTRL_ACTIVIDADES" value="7, 11" />
    
    <!--DEFINICION DE VARIABLES PARA LA CANTIDAD DE REGISTROS A PROCESAR EN LA CARGA DE ARCHIVOS-->
    <add key="CANTIDAD_REG_PROCESAR" value="5000" />
    <add key="CANTIDAD_REG_PROCESAR_FILES" value="20" />
    <add key="LONGITUD_CLAVE_USUARIO" value="16" />
    
    <!--VARIABLES PARA CREAR Y EJECUTAR TAREAS PROGRAMADAS-->
    <add key="MinutosEjecutarTasks" value="2" />
    <add key="UsernameCreateTasks" value="Sixto Contreras F" />
    <add key="UserPassCreateTasks" value="Sacf2106*-" />
    <add key="PathTasksProgramadas" value="D:\\WebSites\\Smartax.Cronjob.Task\\Smartax.Cronjob.Task.exe" />
    
    <!--VALORES PARA CONECTARSE A LA API DE SMARTAX SERVICES-->
    <add key="BASE_URL_SMARTAX" value="http://localhost:62315"/>
    <add key="ACTION_SEGMENT_SMARTAX" value="/serviciosHostSmartax/api/"/>
    <add key="USER_WS_SMARTAX" value="testSmartax2022*-"/>
    <add key="PASS_WS_SMARTAX" value="mkYtwCrMxdSE"/>

    <!--VALORES PARA CONECTARSE A LA API DE SMARTAX DAVIBOX-->
    <add key="BASE_URL_DAVIBOX" value="http://184.72.96.141:8091/"/>

    <!--VALOR Cargar Normativa-->
    <add key="Url_normatividad_Cargar_Normativa" value="http://localhost:9095/operations/norvexcel?data=qlISeJA3GbxRBkkM8sCzmA7Ry0zY6xDYCzmA8RBWFNh3e4QVv4XJoCzmA6R" />
    <!--VALOR Consultar Normativa-->
    <add key="Url_normatividad_Consultar_Normativa" value="http://localhost:9095/operations/viewnorvexcel?data=qlISeJA3GbxRBkkM8sCzmA7Ry0zY6xDYCzmA8RBWFNh3e4QVv4XJoCzmA6R" />
    <!--VALOR CARGA MASIVA-->
    <add key="Url_CARGA_MASIVA" value="https://portaldev.mismartax.co:12443/operations/cargamasiva?data=qlISeJA3GbxRBkkM8sCzmA7Ry0zY6xDYCzmA8RBWFNh3e4QVv4XJoCzmA6R" />
    <!--renta-->
    <!--Generar del archivo de EXCEL renta-->
    <add key="Url_generar_archivo_renta" value="http://localhost:9095/operations/anexorenta?data=qlISeJA3GbxRBkkM8sCzmA7Ry0zY6xDYCzmA8RBWFNh3e4QVv4XJoCzmA6R" />
    <!--autoretencion-->
    <!--Consulta información de autoretencion-->
    <add key="Url_consulta_autoretencion" value="http://localhost:9095/operations/consularautorentica?data=qlISeJA3GbxRBkkM8sCzmA7Ry0zY6xDYCzmA8RBWFNh3e4QVv4XJoCzmA6R" />
    <!--Generar del archivo de EXCEL autoretencion-->
    <add key="Url_generar_archivo_autoretencion" value="http://localhost:9095/operations/descargarautorentica?data=qlISeJA3GbxRBkkM8sCzmA7Ry0zY6xDYCzmA8RBWFNh3e4QVv4XJoCzmA6R" />
    <!--Predial-->
    <!--Cargue de archivo Anexo Renta Pagos Impuesto Predial-->
    <add key="Url_cargue_anexo_rent_imp_predial" value="http://localhost:9095/operations/generaranexorentapredial?data=qlISeJA3GbxRBkkM8sCzmA7Ry0zY6xDYCzmA8RBWFNh3e4QVv4XJoCzmA6R" />
    <!--Consulta información anexo renta pagos Impuesto predial-->
    <add key="Url_consulta_anexo_rent_imp_predial" value="http://localhost:9095/operations/consultaranexorentapredial?data=qlISeJA3GbxRBkkM8sCzmA7Ry0zY6xDYCzmA8RBWFNh3e4QVv4XJoCzmA6R" />
    <!--Generar Reporte anexo renta pagos Impuesto predial-->
    <add key="Url_generar_anexo_rent_imp_predial" value="http://localhost:9095/operations/descargaranexorentapredial?data=qlISeJA3GbxRBkkM8sCzmA7Ry0zY6xDYCzmA8RBWFNh3e4QVv4XJoCzmA6R" />
    <!--VALOR Administrar Documentos-->
    <add key="Url_Administrar_Documentos" value="http://localhost:9095/operations/controlreqadmin?data=qlISeJA3GbxRBkkM8sCzmA7Ry0zY6xDYCzmA8RBWFNh3e4QVv4XJoCzmA6R" />
    <!--VALOR Consulta Requerimientos-->
    <add key="Url_Consulta_Requerimientos" value="http://localhost:9095/operations/controlreqconsul?data=qlISeJA3GbxRBkkM8sCzmA7Ry0zY6xDYCzmA8RBWFNh3e4QVv4XJoCzmA6R" />
    <!--VALOR Gráficas y Estadíticas-->
    <add key="Url_Gráficas_Estadíticas" value="http://localhost:9095/operations/controlreqesta?data=qlISeJA3GbxRBkkM8sCzmA7Ry0zY6xDYCzmA8RBWFNh3e4QVv4XJoCzmA6R" />
    <!--VALOR Cargue Manual-->
    <add key="Url_Cargue_Manual" value="http://localhost:9095/operations/CustoCargManual?data=qlISeJA3GbxRBkkM8sCzmA7Ry0zY6xDYCzmA8RBWFNh3e4QVv4XJoCzmA6R" />
    <!--VALOR Cargue Masivo-->
    <add key="Url_Cargue_Masivo" value="http://localhost:9095/operations/CustoCargMasivo?data=qlISeJA3GbxRBkkM8sCzmA7Ry0zY6xDYCzmA8RBWFNh3e4QVv4XJoCzmA6R" />
    <!--VALOR Consulta Declaraciones-->
    <add key="Url_Consulta_Declaraciones" value="http://localhost:9095/operations/CustoConsulDeclara?data=qlISeJA3GbxRBkkM8sCzmA7Ry0zY6xDYCzmA8RBWFNh3e4QVv4XJoCzmA6R" />
    
    <!--VALORES PARA CONFIGURAR SEPARADOR DE MILES Y DECIMALES-->
    <add key="SEPARADOR_MILES_AP" value="." />
    <add key="SEPARADOR_MILES_FILE" value="." />
    <add key="SEPARADOR_DECIMALES_AP" value="," />
    <add key="SEPARADOR_DECIMALES_FILE" value="," />

    <!--VALORES PARA CONFIGURAR MODULO ALUMBRADO PUBLICO-->
    <add key="UrlBase" value="http://localhost:5048" />
    <add key="IdImpuesto" value="5" />
    <add key="IdReteICA" value="3" />
    <add key="IdAvisosTableros" value="110" />
    <add key="IdSobretasaBomberil" value="111" />
    <add key="IdReteAplicadasPesasMedidas" value="112" />
    <add key="IdUnidadMedida" value="1" />
    <add key="contador" value="5,6,10" />
    <add key="firmante" value="4,8,9" />
    <add key="idCliente" value="4" />
    <add key="separadorPagaduria" value="," />
    <add key="separadorLeasingHabitacional" value="," />
    <add key="separadorLeasingFinanciero" value=";" />
    <add key="separadorInfoContable" value="," />
    <add key="formatoFechaPagaduria" value="dd/MM/yyyy" />
    <add key="formatoFechaRegistroLeasingHabitacional" value="yyyy-MM-dd" />
    <add key="formatoFechaDesembolsoLeasingHabitacional" value="yyyy-MM-dd" />
    <!--add key="formatoFechaLeasingFinanciero" value="yyyy-MM-dd"/-->
    <add key="formatoFechaLeasingFinanciero" value="dd/MM/yyyy" />
    <add key="formatoFechaInfoContable" value="dd-MMM-yyyy" />
    <add key="formatoFechaTarjetaCredito" value="yyyyMMdd" />
  </appSettings>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs\\LogPlataformaTrx" />
      <param name="AppendToFile" value="true" />
      <datePattern value="yyyyMMdd" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <root>
      <priority value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <logger name="File">
      <level value="All" />
      <appender-ref ref="LogFileAppender" />
    </logger>
  </log4net>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <!--<globalization requestEncoding="ISO-8859-1"/>-->
    <globalization culture="es-CO" uiCulture="es-CO" requestEncoding="ISO-8859-1" fileEncoding="utf-8" />
    <hostingEnvironment shadowCopyBinAssemblies="false" />
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
      </controls>
    </pages>
    <!--<httpRuntime targetFramework="4.5"/>-->
    <!--<httpRuntime targetFramework="4.5" useFullyQualifiedRedirectUrl="true" maxRequestLength="1048576" requestLengthDiskThreshold="24576" executionTimeout="7200"/>-->
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" maxRequestLength="2097152" requestLengthDiskThreshold="98304" executionTimeout="999999" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <security>
      <requestFiltering>
        <!-- This will handle requests up to 1024MB (1GB) -->
        <requestLimits maxAllowedContentLength="1048576000" />
      </requestFiltering>
    </security>
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>